.bk{background: black;}
.box{
	width: 2100px;
	height: 600px;
	max-width: 100%;
	display: block;
	position: relative;
}
.one{
	color: white;
	text-align: center;
	font-family:Comic Sans MS;
}
.img{
	top: calc(20% - 20px);
	left: calc(43% - 20px);
	position: absolute;
}
.a{
	background: white;
	border-radius: 15px;
	width: 150px;
	top: calc(60% - 20px);
	left: calc(45% - 20px);
	position: absolute;
}
.two{
	text-align: center;
	font-family:Comic Sans MS;
}
.bfont{
	color: #008000;
	font-family:Lucida Console;
}
